@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --background: 0 0 0;
  --foreground: 237 233 233;
  --transparent-foreground: rgba(237, 233, 233, 0.5);
}

@theme {
  --spacing-xs: 2.3rem;
  --spacing-sm: 4rem;
  --spacing-md: 5.5rem;
  --spacing-lg: 7rem;
  --spacing-2xl: 12rem;
  --font-flamenco: var(--font-flamenco);
  --font-montserrat: var(--font-montserrat);
  --color-primary: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-secondary: rgb(75 85 99);
  --color-light-grey: #65737e;
  --color-lighter-grey: #859099;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  background: var(--foreground);
  letter-spacing: -0.03rem;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

nav {
  transition: all 0.5s;
}

p {
  line-height: 1.7rem;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

::selection {
  color: var(--foreground);
  background: var(--background);
}

.white-selection ::selection {
  color: var(--background);
  background: var(--foreground);
}

body::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--foreground);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.sticky_container {
  min-height: 130vh;
  position: relative;
}

.submit:hover > span {
  left: 72%;
}

.submit:active {
  scale: 0.95;
}

.menu_line {
  border-radius: 1rem;
  height: 2px;
  transition: all 0.1s;
}

@keyframes shake {
  0% {
    top: 0;
    left: 0;
  }
  10% {
    top: 3.5%;
    left: 3.5%;
  }
  20% {
    top: 0;
    left: 2%;
  }
  30% {
    top: 0%;
    left: 1%;
  }
  40% {
    top: 1%;
    left: 3.5%;
  }
  50% {
    top: 3.5%;
    left: 0;
  }
  60% {
    top: 0%;
    left: 3.5%;
  }
  70% {
    top: 0;
    left: 0;
  }
  80% {
    top: 3.5%;
    left: 0;
  }
  90% {
    top: 3.5%;
    left: 2%;
  }
  100% {
    top: 3.5%;
    left: 3.5%;
  }
  /* 0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  25%  {top: 0; left: 0;}
  50%  {top: 0; left: 0;}
  100% {top: 0; left: 0;} */
}

#loader_black_ball {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loader_white_ball {
  box-shadow: 0px 0px 7px 1px var(--foreground);
}

.text-border {
  text-shadow: 0.1px 0.1px 0 var(--transparent-foreground),
    -0.4px -0.4px 0 var(--transparent-foreground),
    0.1px -0.1px 0 var(--transparent-foreground),
    -0.4px 0.4px var(--transparent-foreground);
}
