@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ede9e9;
  --transparent-foreground: rgba(237, 233, 233, 0.5);
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  background: var(--foreground);
  letter-spacing: -0.03rem;
}

nav {
  transition: all 0.5s;
}

::selection {
  color: var(--foreground);
  background: var(--background);
}

.white-selection ::selection {
  color: var(--background);
  background: var(--foreground);
}

body::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--foreground);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.sticky_container {
  min-height: 130vh;
  position: relative;
}

.submit:hover > span {
  left: 72%;
}

.submit:active {
  scale: 0.95;
}

.menu_line {
  border-radius: 1rem;
  height: 2px;
  transition: all 0.1s;
}

@keyframes shake {
  0% {
    top: 0;
    left: 0;
  }
  10% {
    top: 3.5%;
    left: 3.5%;
  }
  20% {
    top: 0;
    left: 2%;
  }
  30% {
    top: 0%;
    left: 1%;
  }
  40% {
    top: 1%;
    left: 3.5%;
  }
  50% {
    top: 3.5%;
    left: 0;
  }
  60% {
    top: 0%;
    left: 3.5%;
  }
  70% {
    top: 0;
    left: 0;
  }
  80% {
    top: 3.5%;
    left: 0;
  }
  90% {
    top: 3.5%;
    left: 2%;
  }
  100% {
    top: 3.5%;
    left: 3.5%;
  }
  /* 0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  0%   {top: 0; left: 0;}
  25%  {top: 0; left: 0;}
  50%  {top: 0; left: 0;}
  100% {top: 0; left: 0;} */
}

#loader_black_ball {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loader_white_ball {
  box-shadow: 0px 0px 7px 1px var(--foreground);
}
