@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ede9e9;
  --transparent-foreground: rgba(237, 233, 233, 0.5);
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  background: var(--foreground);
  letter-spacing: -0.03rem;
}

nav {
  transition: all 0.5s;
}

::selection {
  color: var(--foreground);
  background: var(--background);
}

.white-selection ::selection {
  color: var(--background);
  background: var(--foreground);
}

body::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--foreground);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.sticky_container {
  min-height: 130vh;
  position: relative;
}

.submit:hover > span {
  left: 72%;
}

.submit:active {
  scale: 0.95;
}
